.App {
    width: 100wh;
    min-height: 100vh;
    color: black;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    background-attachment: fixed;
}
.ui.dimmer {
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.close.icon {
    color: #4780ad!important;
    top: 0 !important;
    right: 0 !important;
}
.bm-item-list a {
    padding: 0.8em;
}
.bm-menu a {
    color: #b8b7ad;
    display: block !important;
}
.bm-menu a:focus {
    outline: none;
}
#slide .bm-menu, #stack .bm-menu, #reveal .bm-menu {
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}
.item-pointer {
    cursor: pointer;
}

.confirm_window {
    top: 40px;
}

.ui.progress {
    margin: 1em 0 !important;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
    width: 100px !important;
}

.ui.card>.image, .ui.cards>.card>.image {
    background-color: white !important;
    margin: 10px auto;
}

.ui.cards {
    padding: 20px;
}

.addClothIcon {
    margin: 10px auto  !important;
    font-size: 5.8em !important;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}