.auth-container {
    position: absolute !important;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) !important;
    width: 60%;
}

.main-page--temp__container {
    width: 100%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: 100% !important;
}

.main-page--wheather__container {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 420px) {
    .auth-container {
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(5%) !important;
        height: 100%;
    }
}