.row {
    display: flex;
}

.row.centered {
    justify-content: center;
}

.row.align-center {
    align-items: center;
}

.row.space-between {
    justify-content: space-between
}

.column {
    display: flex;
    flex-direction: column;
}

.column.centered {
    align-items: center;
}

.w100 {
    width: 100%;
}