.row {
    display: flex;
}

.row.reverse {
    flex-direction: row-reverse;
}

.row.centered {
    justify-content: center;
}

.row.align-center {
    align-items: center;
}

.row.space-between {
    justify-content: space-between
}

.row.end {
    justify-content: flex-end;
}

.column {
    display: flex;
    flex-direction: column;
}

.column.centered {
    align-items: center;
}

.w100 {
    width: 100%;
}

.mt20 {
    margin-top: 20px;
}

.mt100 {
    margin-top: 100px;
}

.mb100 {
    margin-bottom: 100px;
}

.white {
    color: white !important;
    opacity: .7;
}

.pad020 {
    padding: 0 20px;
}