.look-block {
    margin-top: 20px;
    width: 60%;
}

.look-block:first-child {
    margin-top: 60px;
}

.look-block:last-child {
    margin-bottom: 60px;
}

.look-block .look-icon {
    transition: .2s;
    cursor: pointer;
}

.look-block .look-icon:hover {
    transform: scale(1.2)
}

.look-block .look-no--result {
    min-height: 150px;
}

.look-block .look-comments {
    transition: .4s;
}

.look-block .lot-add-look {
    align-items: center;
    justify-content: center;
    min-height: 270px !important;
    opacity: .5;
    transition: .2s !important;
    cursor: pointer;
}

.look-block .lot-add-look:hover {
    opacity: 1;
}

.look-block .look-cloth-element {
    margin-right: 15px !important;
}

.main-page--look__container {
    width: 50%;
}

.main-page--look__container .look-block {
    width: 100%;
}

.main-page--look__container .look-block:first-child {
    margin-top: 0;
}

.main-page--look__container .look-block:last-child {
    margin-bottom: 0;
}